/* Leave-Review Modal Window */

.modal-leave-review {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--body-bg-color);
  border-radius: 15px;
}

.modal-leave-review-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.modal-leave-review-text {
  font-weight: 600;
  letter-spacing: -0.03em;
  margin-right: 0;
}

.modal-leave-review-text-accent {
  color: var(--main-accent-color);
}

.modal-leave-review-form {
  display: flex;
  flex-direction: column;
}

.modal-leave-review-input {
  width: 100%;
  font-weight: 400;
  letter-spacing: -0.02em;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  box-shadow: 0px 5.44px 5.44px rgba(0, 0, 0, 0.03);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-leave-review-input:focus,
.modal-leave-review-form-message:focus {
  outline: none;
  border-color: var(--main-accent-color);
}

.modal-leave-review-form-message {
  display: block;
  width: 100%;
  font-weight: 500;
  letter-spacing: -0.02em;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  box-shadow: 0px 5.44px 5.44px rgba(0, 0, 0, 0.03);
  resize: none;
  margin-bottom: 18px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-leave-review-form-sumbit {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: var(--white-color);
  background-color: var(--main-accent-color);
  border: 1px solid var(--main-accent-color);
  align-self: center;
  min-width: 117px;
  padding: 14px 40px;
  border-radius: 100px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-leave-review-form-sumbit:hover,
.modal-leave-review-form-sumbit:focus {
  color: var(--main-accent-color);
  background-color: var(--btn-bg-hover);
}

.modal-leave-review-input::placeholder,
.modal-leave-review-form-message::placeholder {
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.modal-leave-review-input-wrapper {
  display: block;
  position: relative;
}

.leave-review-input-tel-icon {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.leave-review-input-tel-text {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-weight: 500;
  letter-spacing: -0.02em;
}

.leave-review-input-tel-text::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -5px;
  width: 1px;
  background-color: rgba(64, 64, 64, 0.3);
}
/* Mobile */

@media screen and (max-width: 767px) {
  .modal-leave-review {
    width: 311px;
    height: 471px;
    padding: 32px 32px 32px 24px;
  }
  .modal-leave-review-text {
    font-size: 20px;
    line-height: 1.2;
    width: 255px;
    margin-bottom: 32px;
  }
  .modal-leave-review-close-btn {
    top: 14px;
    right: 14px;
    padding: 0;
  }
  .modal-leave-review-input {
    height: 45px;
    font-size: 14px;
    line-height: 1.21;
    padding: 14px 14px 14px 18px;
  }
  .modal-leave-review-form-filed {
    margin-bottom: 14px;
  }
  .modal-leave-review-form-message {
    height: 91px;
    font-size: 14px;
    line-height: 1.21;
    padding: 14px 18px;
  }
  .modal-leave-review-input::placeholder,
  .modal-leave-review-form-message::placeholder {
    font-size: 14px;
    line-height: 1.21;
  }
  .leave-review-input-tel {
    padding: 13px 13px 13px 106px;
  }
  .leave-review-input-tel-icon {
    left: 18px;
  }
  .leave-review-input-tel-text {
    left: 58px;
    font-size: 14px;
    line-height: 1.21;
  }
  .leave-review-input-tel-text::after {
    right: -8px;
    height: 25px;
  }
}
/* Tablet + Desktop */
@media screen and (min-width: 768px) {
  .modal-leave-review {
    width: 517px;
    height: 631px;
    padding: 40px;
  }
  .modal-leave-review-close-btn {
    top: 24px;
    right: 24px;
    padding: 7px;
  }
  .modal-leave-review-text {
    font-size: 24px;
    line-height: 1.16;
    width: 298px;
    margin-bottom: 40px;
  }
  .modal-leave-review-input {
    height: 66px;
    font-size: 18px;
    line-height: 1.22;
    padding: 22px;
  }
  .modal-leave-review-form-filed {
    margin-bottom: 19px;
  }
  .modal-leave-review-form-message {
    height: 137px;
    font-size: 18px;
    line-height: 1.22;
    padding: 22px 24px;
  }
  .modal-leave-review-input::placeholder,
  .modal-leave-review-form-message::placeholder {
    font-size: 18px;
    line-height: 1.22;
  }
  .leave-review-input-tel {
    padding: 22px 22px 22px 177px;
  }
  .leave-review-input-tel-icon {
    left: 24px;
  }
  .leave-review-input-tel-text {
    left: 74px;
    font-size: 18px;
    line-height: 1.22;
  }
  .leave-review-input-tel-text::after {
    right: -20px;
    height: 32px;
  }
}
